.app-nav {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  border-bottom: 1px solid #eaeaea;
  height: 56px;
  align-items: center;
}

.item-link {
  padding: 0px 24px;
}
